mixin head(data)
  head
    meta(charset="UTF-8")
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(content="telephone=no", name="format-detection")
    meta(name="HandheldFriendly", content="true")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="yandex-verification" content="9969f99c9543d142")
    meta(content="Служба водоснабжения вашего дома. Помогаем решить вопрос вашего комфортного проживания в доме. Мы дарим комфорт нашим клиентам более 15 лет. Быстро рассчитаем стоимость работ и приедем к вам" name="description")
    meta(content="Замена насосов, Обслуживание и ремонт фильтрационных систем очистки воды, Разработка, проектирование и монтаж систем водоочистки, Анализ воды, Пизда насосу, Обслуживание системы обратного осмоса (замена мембран), Замена насосных станций, гидробаков и мембран" name="keywords")
    meta(property="og:type" content="image/png")
    meta(property="og:description" content="Служба водоснабжения вашего дома")
    meta(property="og:url" content="http://aquapomosh.ru/")
    meta(property="og:title" content="АкваПомощь")
    meta(property="og:image" content="http://aquapomosh.ru/img/welcome/logo.png")
    
    title #{title}
    link(rel="stylesheet", href="../css/style.min.css")
    link(rel="icon" type="image/x-icon" href="favicon.png")

    |  <!-- Yandex.Metrika counter -->
    |  <script type="text/javascript" >
    |  (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
    |    m[i].l=1 * new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    |    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    |     ym(54327573, "init", {
    |   clickmap:true,
    |  trackLinks:true,
    |  accurateTrackBounce:true
    |  });
    |  </script>
    |  <noscript><div><img src="https://mc.yandex.ru/watch/54327573" style="position:absolute; left:-9999px;" alt=""/></div></noscript>
    |   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143316411-1%22%3E"></script>
    |   <script>
    |   window.dataLayer = window.dataLayer || [];
    |   function gtag(){dataLayer.push(arguments);}
    |   gtag('js', new Date());
    |   gtag('config', 'UA-143316411-1');
    |  </script>

