mixin welcome(data)
    section.welcome
        .welcome_wrapper
            h1.welcome_title СЛУЖБА ВОДОСНАБЖЕНИЯ вашего ДОМА
            ul.welcome_info_box
                li.welcome_info_item Лучшее соотношение цены и качества
                li.welcome_info_item Мы дарим комфорт нашим клиентам более 15 лет
                li.welcome_info_item Быстро рассчитаем стоимость работ и приедем к вам
            img(src="../img/welcome/kv.png").welcome_image
            a(href="tel:89112321010").welcome_button.welcome_button_mob Позвонить
            a(href="mailto:Aquapomosh@gmail.com").welcome_button.welcome_button_desk Написать
