mixin welcome(data)
    section.welcome
        .welcome_wrapper
            h1.welcome_title СЛУЖБА ВОДОСНАБЖЕНИЯ вашего ДОМА
            img(src="../img/welcome/kv.png").welcome_image
            a(href="tel:89112321010").welcome_button Позвонить
