.welcome {
  display: block;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 728px;
  }
}

.welcome_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    align-items: flex-start;
    position: relative;
  }
}

.welcome_info_box {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.welcome_title {
  font-family: $oswald-bold;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  margin-bottom: 47px;
  color: #235784;
  width: 100%;

  @media (min-width: $tablet) {
    margin-bottom: 29px;
    font-size: 24px;
    width: 293px;
  }
}

.welcome_info_item {
  font-family: $lato-reg;
  font-size: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
    position: relative;
    color: #235784;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      background: #40A8C4;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }
}


.welcome_image {
  width: 231px;
  height: 211px;
  margin-right: 15px;
  margin-bottom: 57px;

  @media (min-width: $tablet) {
    position: absolute;
    margin: 0;
    width: 289px;
    height: 266px;
    top: 0;
    right: 0;
  }
}

.welcome_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 44px;
  background: #F7AA00;
  border-radius: 8px;
  font-family: $lato-reg;
  font-size: 20px;
  line-height: 33px;
  text-decoration: none;
  color: #fff;

  @media (min-width: $tablet) {
    font-size: 22px;
    margin-bottom: 102px;
  }
}