mixin advantages(data)
    section.advantages
        .advantages_wrapper
            h2.advantages_title Можем многое
            p.advantages_title_text Помогаем решить вопрос вашего комфортного проживания в доме
            ul.advantages_slider.owl-carousel
                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/1.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/2.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/1.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/2.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов




            ul.advantages_bottom_content
                li.advantages_bottom_item Можете быть уверены за качество&nbsp;— наши работы проверены временем
                li.advantages_bottom_item Работаем быстро — экономим ваше время
                li.advantages_bottom_item После завершения работ, заключаем договор на сервисное обслуживание
