.advantages {
  display: block;
  padding-top: 41px;
  margin-bottom: 120px;

  @media (min-width: $tablet) {
    background: #BCDBDF;
    margin-bottom: 0;
  }

  @media (min-width: 1366px) {
    height: 1301px;
    margin-bottom: 200px;
  }

  @media (min-width: 1920px) {
    height: 1960px;
    margin-bottom: 390px;
  }

}

.advantages_slider {
  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: 1366px) {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 881px;
    margin-left: auto;
    margin-top: -270px;
  }

  @media (min-width: 1920px) {
    width: 1262px;
    margin-top: -370px;
  }
}


.advantages_wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: 1366px) {
    width: 1287px;
  }

  @media (min-width: 1920px) {
    width: 1776px;
  }
}

.advantages_title {
  display: block;
  margin: 0 auto;
  width: 280px;
  font-size: 22px;
  line-height: 33px;
  font-family: $oswald-reg;
  font-weight: normal;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    font-size: 36px;
    margin-right: auto;
    margin-left: 102px;
  }

  @media (min-width: 1366px) {
    margin-left: 40px;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 15px;
  }

  @media (min-width: 1920px) {
    font-size: 64px;
    line-height: 95px;
    width: auto;
    margin-bottom: 19px;
  }
}

.advantages_title_text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    color: rgba(0, 0, 0, .5);
    width: 295px;
    margin-left: 102px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
  }

  @media (min-width: 1366px) {
    margin-left: 40px;
  }

  @media (min-width: 1920px) {
    font-size: 24px;
    line-height: 34px;
  }
}

.advantages_item {
  width: 247px;
  height: 261px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #F7AA00;

  @media (min-width: 1366px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1920px) {
    width: 372px;
    height: 392px;
    margin-bottom: 90px;
  }
}

.advantages_image_box {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 28px;

  & img {
    display: block;
    width: 211px;
    height: 150px;
    margin: 0 auto 15px;
  }

  @media (min-width: 1920px) {
    padding: 41px 27px;
    & img {
      width: 317px;
      height: 226px;
    }
  }
}

.advantage_text {
  font-family: $lato-med;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: 1920px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages_bottom_content {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 640px;
    margin: 0 auto;
    padding-bottom: 74px;
  }

  @media (min-width: 1366px) {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 261px;
    left: 66px;
    width: 300px;
  }

  @media (min-width: 1920px) {
    top: 397px;
  }
}

.advantages_bottom_item {
  @media (min-width: $tablet) {
    width: 180px;
    margin-right: 40px;
    font-family: $lato-reg;
    font-size: 15px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: -24px;
      top: 5px;
      width: 8px;
      height: 8px;
      background: #F7AA00;
      border-radius: 50%;
    }
  }

  @media (min-width: 1366px) {
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 70px;
  }

  @media (min-width: 1920px) {
    font-size: 24px;
    line-height: 28px;

    &:before {
      width: 12px;
      height: 12px;
      margin-right: 20px;
    }
  }
}