mixin advantages(data)
    section.advantages
        .advantages_wrapper
            h2.advantages_title Можем многое
            ul.advantages_slider.owl-carousel
                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/1.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/2.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов
