mixin advantages(data)
    section.advantages#advantages
        .advantages_wrapper
            h2.advantages_title Можем многое
            p.advantages_title_text Помогаем решить вопрос вашего комфортного проживания в доме
            ul.advantages_slider.owl-carousel
                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/1.jpg")
                        p.advantage_text Замена и ремонт скважинных и колодезных насосов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/2.jpg")
                        p.advantage_text Устранение аварийных ситуаций

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/3.jpg")
                        p.advantage_text Диагностика неполадок

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/4.jpg")
                        p.advantage_text Замена насосных станций, гидробаков и мембран

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/5.jpg")
                        p.advantage_text Обслуживание и ремонт фильтрационных систем очистки воды

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/6.jpg")
                        p.advantage_text Замена расходных материалов (картриджей, сменных мешков)

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/7.jpg")
                        p.advantage_text Доставка таблетированной соли и других реагентов

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/8.jpg")
                        p.advantage_text Перезагрузка засыпных фильтров

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/9.jpg")
                        p.advantage_text Разработка, проектирование и монтаж систем водоочистки

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/10.jpg")
                        p.advantage_text Установка и обслуживание бытовых водоочистителей

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/11.jpg")
                        p.advantage_text Анализ воды

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/12.jpg")
                        p.advantage_text Обслуживание системы обратного осмоса (замена мембран)

                li.advantages_item
                    .advantages_image_box
                        img(src="../img/advantages/13.jpg")
                        p.advantage_text Профессиональная чистка емкостей для воды




            ul.advantages_bottom_content
                li.advantages_bottom_item Можете быть уверены за качество&nbsp;— наши работы проверены временем
                li.advantages_bottom_item Работаем быстро — экономим ваше время
                li.advantages_bottom_item После завершения работ, заключаем договор на сервисное обслуживание
