.aquaInfo {
  display: block;
}

.aquaInfo_wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 61px;

  @media (min-width: $tablet) {
    width: 768px;
    padding-top: 139px;
  }

  @media (min-width: 1366px) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 129px;
  }
}

.auqaInfo_title {
  font-family: $oswald-reg;
  font-size: 22px;
  line-height: 33px;
  font-weight: normal;
  position: relative;
  padding-left: 69px;
  margin-bottom: 140px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -49px;
    width: 95px;
    height: 167px;
    background: url("../img/header/dude.svg") no-repeat center;
    background-size: contain;
    transform: rotateY(180deg);
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 53px;
    padding-left: 142px;
    margin-bottom: 58px;

    &:after {
      width: 155px;
      height: 273px;
      left: 19px;
      top: -78px;
    }
  }

  @media (min-width: 1366px) {
    padding-left: 219px;

    &:after {
      width: 224px;
      height: 396px;
      left: 32px;
      top: -119px;
    }
  }

  @media (min-width: 1920px) {
    font-size: 64px;
    line-height: 95px;
    padding-left: 368px;

    &:after {
      width: 388px;
      height: 685px;
      left: 40px;
      top: -207px;
    }
  }
}

.aquaInfo_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 224px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 410px;
    margin-left: 229px;
    margin-bottom: 111px;
  }

  @media (min-width: 1366px) {
    width: 907px;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 0;
  }

  @media (min-width: 1920px) {
    width: 1302px;
    margin-left: 532px;
    justify-content: flex-start;
  }
}

.aquaInfo_list_item {
  width: 91px;
  text-align: left;

  &:first-child{
    margin-bottom: 37px;
  }

  & img {
    margin-bottom: 6px;
    width: 100%;
  }

  @media (min-width: $tablet) {
    width: 143px;

    &:first-child {
      margin-right: 117px;
    }
  }

  @media (min-width: 1366px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:first-child {
      margin-right: 0;
    }
  }

  @media (min-width: 1920px) {
    width: 208px;
    margin-right: 144px;

    &:first-child {
      margin-right: 144px;
    }

    &:last-child {
      margin-right: 0;
    }

    & img {
      width: 204px;
      margin-bottom: 41px;
    }
  }
}

.auqaInfo_item_title {
  font-family: $lato-reg;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: 1366px) {
    font-size: 22px;
    line-height: 34px;
  }

  @media (min-width: 1920px) {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 24px;
  }
}

.auqaInfo_item_text {
  font-family: $lato-reg;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: 1366px) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (min-width: 1920px) {
    font-size: 24px;
    line-height: 34px;
  }
}