mixin aquaInfo(data)
    section.aquaInfo#aquaInfo
        .aquaInfo_wrapper
            h2.auqaInfo_title «AQUA Помощь» — это
            ul.aquaInfo_list
                li.aquaInfo_list_item
                    img(src="../img/aquaInfo/1.svg")
                    p.auqaInfo_item_title Качество
                    p.auqaInfo_item_text Наш первый приоритет

                li.aquaInfo_list_item
                    img(src="../img/aquaInfo/2.svg")
                    p.auqaInfo_item_title Компетенция
                    p.auqaInfo_item_text Работаем более 15 лет

                li.aquaInfo_list_item
                    img(src="../img/aquaInfo/3.svg")
                    p.auqaInfo_item_title Оперативность
                    p.auqaInfo_item_text Возможен выезд в день звонка

                li.aquaInfo_list_item
                    img(src="../img/aquaInfo/4.svg")
                    p.auqaInfo_item_title Стоимость
                    p.auqaInfo_item_text Индивидуальный подход