extends template/_layout
include ../components/header/header
include ../components/welcome/welcome
include ../components/advantages/advantages
block vars
  - var title = "Главная";


block content 

  +header()
  +welcome()
  +advantages()
