.header {
  display: block;
  padding-top: 20px;
  position: relative;

  @media (min-width: 1366px) {
    padding-top: 46px;
  }

  @media (min-width: 1920px) {
    padding-top: 64px;
  }
}

.header_wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;

  @media (min-width: 1024px) {
    align-items: flex-start;
  }

  @media (min-width: 1366px) {
    margin-bottom: 74px;
  }

  @media (min-width: 1920px) {
    margin-bottom: 100px;
    align-items: flex-start;
    width: 1774px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header_logo {
  width: 82.5px;
  height: 55px;

  @media (min-width: 1024px) {
    width: 200px;
    height: auto;
  }

  @media (min-width: 1366px) {
    width: 213px;
    height: 142px;
  }

  @media (min-width: 1920px) {
    width: 423px;
    height: 290px;
  }
}

.header_menu {
  width: 28px;
  height: 16px;
  background: url("../img/header/burger.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  z-index: 1000;
  transition: all .2s ease;

  &.active {
    width: 22px;
    height: 22px;
    background: url("../img/header/cross.svg") no-repeat center;
    background-size: contain;
  }

  @media (min-width: 1200px) {
    width: 59px;
    height: 28px;
    position: fixed;
    top: 50px;
    right: 20px;
    display: none;

    &.active {
      width: 34px;
      height: 34px;
    }
  }

  @media (min-width: 1920px) {
    top: 55px;
    width: 80px;
    height: 39px;

    &.active {
      width: 44px;
      height: 44px;
    }
  }
}
.header_menu_list {
  position: absolute;
  top: 112px;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: -10;
  margin-top: -500px;
  transition: all .4s ease;
  box-shadow: 0 30px 20px rgba(0, 0, 0, .2);
  opacity: 0;

  &:after {
    content: '';
    position: absolute;
    right: 16px;
    top: -20px;
    width: 94px;
    height: 167px;
    background: url("../img/header/dude.svg") no-repeat center;
    background-size: contain;
  }

  &.active {
    z-index: 50;
    margin-top: 0;
    opacity: 1;
  }

  @media (min-width: $tablet) {
    text-align: center;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    position: fixed;
    z-index: 9999;
    top: -230px;
    left: 0;

    &.active {
      top: 0px;
      left: 0;
    }

    &:after {
      left: 50%;
      transform: translateX(-554%) rotateY(180deg);
      top: 0px;
      right: auto;
    }
  }

  @media (min-width: 1920px) {
    &.active {
      padding-bottom: 40px;
    }

    &:after {
      transform: translateX(-722%) rotateY(180deg);
      top: 5px;
    }
  }
}

.header_socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    justify-content: center;
  }

  @media (min-width: 1200px) {
    align-items: flex-start;
  }
}

.header_social_link {
  width: 32px;
  height: 32px;
  transition: all .3s ease;

  &:hover {
    opacity: .5;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  & img {
    width: 100%;
  }

  @media (min-width: 1920px) {
    width: 40px;
    height: 40px;
  }
}

.header_menu_item {
  padding-left: 16px;
  padding-right: 16px;
  font-family: $oswald-reg;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;

  &:first-child {
    font-family: $oswald-bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 51px;
    letter-spacing: 2px;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 6px;
      background: #235784;
      position: absolute;
      left: 0;
      top: 34px;
    }

    & a {
      text-decoration: none;
      color: #235784;
    }
  }

  & a {
    text-decoration: none;

    transition: all .3s ease;

    &:hover,
    &:active,
    &:focus {
      color: #ff5722;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 0px;
    &:after {
      display: none;
    }

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      width: 150px;
      height: 80px;
      margin-bottom: 0px;
      & img {
        //width: 100%;
        //height: 100%;
      }
    }


  }

  @media (min-width: 1920px) {
    font-size: 33px;
    line-height: normal;

    &:first-child {
      font-size: 33px;
      line-height: normal;
    }

    &:last-child {
      //padding: 0;
      //width: 60px;
      //height: 60px;
      width: auto;
      height: auto;
      margin-left: 10px;

      & a {
        //width: 100%;
        //height: 100%;
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.vk_sibling {
  margin-bottom: 50px;

  @media (min-width: 1366px) {
    margin: 0;
  }
}

.header_phone {
  display: none;
  transition: all .3s ease;

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(103%);
    color: #235784;
    font-size: 36px;
    line-height: 53px;
    font-family: $oswald-bold;
    text-decoration: none;
  }

  @media (min-width: 1366px) {
    top: 37px;
  }

  @media (min-width: 1920px) {
    font-size: 48px;
    line-height: 71px;
  }

  &:hover {
  }
}