mixin header(data)
    header.header
        nav.header_wrapper
            a(href="tel:89112321010").header_phone + 7 (911) 232-10-10
            img(src="../img/header/logo.svg").header_logo
            .header_menu.js-open-menu
            ul.header_menu_list.js-menu-list
                li.header_menu_item
                    a(href="tel:89112321010") + 7(911) 232-10-10
                li.header_menu_item
                    a(href="#") Наши услуги
                li.header_menu_item
                    a(href="#") Преимущества
                li.header_menu_item
                    a(href="#") 4 шага до уюта
                li.header_menu_item.vk_sibling
                    a(href="#") Контакты
                li.header_menu_item
                    a(href="#")
                        img(src="../img/header/vk.svg")


