mixin footer(data)
    footer.footer
        .footer_wrapper
            .footer_left_box
                img(src="../img/header/logo.svg").footer_logo
                a(href="tel:89112321010").footer_phone + 7 (911) 232-10-10
                p.footer_copyright Все материалы пренадлежат <br/> «AQUA Помощь»
            .footer_right_box
                a(href="#").footer_vk_link