.footer {
  display: block;
  background: #235784;
}

.footer_copyright {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  font-family: $lato-reg;

  &:before {
    content: '©';
    width: 7px;
    height: 12px;
    margin-right: 6px;
  }

  @media (min-width: 1366px) {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    & br {
      display: none;
    }
  }

  @media (min-width: 1920px) {
    font-size: 14px;
  }
}

.footer_wrapper {
  padding-top: 17px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  @media (min-width: 1920px) {
    width: 1783px;
    margin: 0 auto;
  }
}

.footer_left_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;

  @media (min-width: 1366px) {
    width: 216px;
    padding-bottom: 21px;
    padding-top: 36px;
  }
}

.footer_right_box {
  @media (min-width: $tablet) {
    width: 200px;
    margin-top: 70px;
  }

  @media (min-width: 1366px) {
    width: 293px;
    margin-top: 120px;
  }
}

.footer_phone {
  margin-bottom: 26px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-family: $oswald-bold;
  text-decoration: none;
  color: #fff;
  letter-spacing: .7px;

  @media (min-width: $tablet) {
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: 1366px) {
    font-size: 36px;
    line-height: 53px;
    top: 55px;
  }
}

.footer_logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 84px;
    height: 55px;
    margin-bottom: 20px;
  }

  @media (min-width: 1366px) {
    width: 160px;
    height: 105px;
    margin-bottom: 12px;
  }
}

.footer_link {
  display: inline-block;
  width: 32px;
  height: 32px;
  transition: all .3s ease;

  &:hover {
    opacity: .5;
  }

  &.vk {
    background: url('../img/header/vk.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
  }

  &.inst {
    background: url('../img/header/inst.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
  }

  &.face {
    background: url('../img/header/face.svg') no-repeat center;
    background-size: contain;
  }

  @media (min-width: 1366px) {
    width: 58px;
    height: 58px;
  }
}