mixin contacts(data)
    section.contacts
        .contacts_wrapper
            h2.contacts_title Пора позаботиться о своем уюте Позвоните нам
            img(src="../img/contacts/human.svg").contacts_human
            a(href="tel:89112321010").contacts_phone + 7 (911) 232-10-10
            p.contacts_text Или напишите нам
                a(href="#").contacts_vk_link ВКонтакте
