mixin algoritm(data)
    section.algoritm
        .algoritm_wrapper
            h2.algoritm_title 4 шага до вашего комфорта
            ul.algoritm_list.owl-carousel
                li.algoritm_item
                    p Свяжитесь с нашим специалистом
                li.algoritm_item
                    p Вас проконсультируют по всем вопросам
                li.algoritm_item
                    p Наш иженер выезжает на ваш участок
                li.algoritm_item
                    p Выполнение работ